/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	.banner{
		padding-top: 20px;
	}
	/*navbar start*/
	.menu ul li a{
		font-size: 15px;
		color: #fff !important;
		padding: 0  !important;
		text-align:  right;
	}
	/*navbar end*/
	/*slider start*/
	.slider{
		padding: 30px 0;
	}
	.cid{
		bottom: -44px;
	}
	.cid li{
		width: 7px;
		height:7px;
	}
	.cid-text h2{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.cid-text h1{
		font-size: 22px;
		margin-bottom: 17px;
	}
	.cid-text button {
		padding: 3px 20px;
		font-size: 11px;
	}
	/*slider end*/

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*navbar start*/
	.menu ul li a{
		font-size: 15px;
		color: #fff !important;
		padding: 0  !important;
		text-align:  right;
	}
	/*navbar end*/
	/*slider start*/
	.slider{
		padding: 50px 0;
	}
	.cid{
		bottom: -59px;
	}
	.cid li{
		width: 12px;
		height:12px;
	}
	.cid-text h2{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.cid-text h1{
		font-size: 36px;
		margin-bottom: 36px;
	}
	.cid-text button {
		padding: 5px 21px;
	}
	/*slider end*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*navbar start*/
	.menu ul li a{
		font-size: 15px;
		color: #fff !important;
		padding: 0  !important;
		text-align:  right;
	}
	/*navbar end*/
	/*slider start*/
	.slider{
		padding: 70px 0;
	}
	.cid{
		bottom: -70px;
	}
	.cid-text h2{
		font-size: 23px;
		margin-bottom: 28px;
	}
	.cid-text h1{
		font-size: 50px;
		margin-bottom: 40px;
	}
	.cid-text button {
		padding: 15px 50px;
	}
	/*slider end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
